h1 {
    font-size: 2em;
	margin-bottom:0;
	padding-left:20px;
    text-decoration: underline;
}
.address {
	display:block;
	text-align:center;
	padding:10px;
    font-weight: bold;
}
#div_carte {
	height :268px;
	width : 62%;
	margin : auto;
	border : 1px solid #888;
}
#transport {
	padding:40px 30px;
}
#transport p {
	padding-left:50px;
}
#transport a {
	text-decoration:none;
	color:#324f00;
    font-weight: bold;
}
#transport a:hover {
	text-decoration: underline;
}
