#adresse {
	float:left;
	padding-left:20px;
	padding-top:20px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#tel-mail {
	float:left;
	padding-top:20px;
    padding-left: 100px;
    font-size: 1.5em;
}
#tel-mail a {
	color:black;
}
#tel-mail .glyphicon {
	padding-right: 20px;
}

h3 {
	text-align:center;
    margin-bottom: 15px;
    margin-top: 0px;
}

#contact-nous {
    clear: both;
    padding: 20px 100px 20px 40px;
    background-image: url(http://www.transparenttextures.com/patterns/checkered-pattern.png);
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}

input, textarea{
	border:1px solid #527614;
	border-radius:2px;
	box-shadow:1px 1px 2px #324F00 inset;
}

input[type=submit], input[type=reset] {
	cursor:pointer;
}
