h2 {
	font-size:1.5em;
	margin-bottom:5px;
    text-align: center;
    border-bottom: 1px #324f00 solid;
}
#content {
	padding:30px 0;
}

#content ul li {
	list-style:circle;
}

.index-left {
    padding:20px;
    border:1px #527614 solid;
    border-radius: 5px;
    background: #527614;
    color: #cfec9e;

}
.section {
    float: left;
}
.photos img {
    float: left;
    width:170px;
    padding: 5px;
}
