h3 {
	font-size:1em;
	margin:0;
}
h4 {
	font-size:1em;
}
h5 {
	font-size:1em;
	text-align:center;
	margin:0;
}
#content {
	padding:30px 0;
}
#content-left {
	float:left;
	width:70%;
}
#content-right{
	float:left;
	padding-left:30px;
	width:25%;
}
#content ul li {
	list-style:circle;
}
#tata li:nth-child(n+3):nth-child(-n+6){
	list-style:none;
	padding-left:30px;
}
.page-right:first-child{
	padding-top:5px;
}
.page-right {
	padding-left:60px;
	text-align:left;
	padding-top:30px;
}
.page-right img {
	border:1px #000 solid;
	box-shadow: 2px 4px 5px #888888;
}
#langue {
	font-size:1em;
}
#txtspan {
	font-size:0.8em;
}
