h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
}
h2 {
    font-size: 1.5em;
	margin-top:0;
	margin-bottom:10px;
    text-decoration: underline;
}

.sickness:hover {
	background:#779d34;
    color:white;
}
.sickness {
    padding:10px;
    min-height:250px;
    overflow : hidden;
}
.sickness .leftimg  {
	float:left;
	padding:10px;
}

.sickness .rightimg {
	float:right;
	padding:10px;
}
