body {
	font-family: Helvetica, Arial, sans-serif;
	background:#779d34 ;
}

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#banner {
    background-color: #324F00;
    padding: 10px;
    color: #cfec9d;
}
#banner a {
    color: #cfec9d;
}
#banner .right {
    float: right;
}
#top-bar{
    height:130px;
}
.topleft * {
    float:left;
}
.topleft img {
	height:100px;
	padding-top:15px;
}
.topleft .logotext {
    color: #cfec9d;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 20px;
}

.topright {
    margin-top: 30px;
    float:right;
}
.topright .phone {
    font-size: 2em;
    color: #cfec9d;
}
.topright .phone a {
    color: #cfec9d;
}

nav {
    padding:10px;
    background: #527614;
    box-shadow: 2px 2px 4px #324F00;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}

nav ul {
    margin: 0 auto;
    text-align: center;
    padding: 0;
}

nav li {
    display: inline;
    list-style:none;
}

nav a {
    color:#a0c562;
    text-decoration:none;
	display:inline-block;
	padding:0 40px;
	line-height:35px;
    font-size: 1.4em;
}

nav a .glyphicon {
	margin-right: 10px;
}

nav a:hover {
	color:white;
    text-decoration: none;
}

nav a.current {
    color:#324f00;
    background-color: #cfec9d;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}

nav a.current:hover {
	color:#324f00;
    cursor:default;
}

#slider  {
	width:100%;
	height:296px;
    padding-top: 20px;
	margin:auto;
    margin-bottom: 30px;
}

#slider ul {
	list-style:none;
	clear:both;
    margin: auto;
    max-width:960px;
	overflow:hidden;
	height:290px;
    border:10px solid #527614;
    -webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
}

.content {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #cfec9d;
    -webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
    padding: 10px;
}

footer {
	font-size:1em;
    background-color: #324F00;
    color: #cfec9d;
    padding: 10px;
}
.sociallink a {
    display: block;
    width: 100%;
    height: 100%;
}
.social-link {
    width: 160px;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
}
.social-link-gplus {
    background-image: url(../img/gplus.png);
    background-repeat: no-repeat;
}
.social-link-facebook {
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
}
#fixedsocial {
    top:30%;
    height:200px;
    width:60px;
    position:fixed;
    right: 0;
    cursor: pointer;
}
.facebookflat {
    background:url("../img/facebook49.png");
    height:50px;
    width:50px;
    transition:ease 500ms;
    background-size:50px;
    opacity:1;
}
.facebookflat:hover {
    background:url("../img/facebook49long.png");
    height:50px;
    width:50px;
    background-size:60px;
    opacity:0.5;
    transition:ease 500ms;
    margin-left:-20px;
    width:70px;

}
.gplusflat {
    background:url("../img/gplus49.png");
    height:50px;
    width:50px;
    transition:ease 500ms;
    background-size:50px;
    opacity:1;
}
.gplusflat:hover {
    background:url("../img/gplus49long.png");
    height:50px;
    width:50px;
    background-size:60px;
    opacity:0.5;
    transition:ease 500ms;
    margin-left:-20px;
    width:70px;
}
